
<div class="row">
    <div class="col-sm-12">

<div class="white-box">
  <form class="form">
      <div class="row">
          <div class="col-sm-6">
              <div class="form-group">
                  <label for="exampleInputuname">Company Name</label>
                  <div class="input-group">
                      <div class="input-group-addon"><i class="ti-user"></i></div>
                      <input type="text" 
                      class="form-control" 
                      placeholder="CompanyName"
                      [(ngModel)]="data.CompanyName" 
                      name="CompanyName">
                  </div>
              </div>
              </div>
              <div class="col-sm-6">
                  <div class="form-group">
                      <label for="exampleInputuname">Email Id</label>
                      <div class="input-group">
                          <input type="text" class="form-control" id="exampleInputuname" placeholder="Username">
                          <div class="input-group-addon"><i class="ti-user"></i></div>
                      </div>
                  </div>
      </div>
      
      </div>
      <div class="row">
          <div class="col-sm-6">
              <div class="form-group">
                  <label for="exampleInputEmail1">Address</label>
                  <div class="input-group">
                      <div class="input-group-addon"><i class="ti-email"></i></div>
                      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                  </div>
              </div>
              </div>
              <div class="col-sm-6">
                  <div class="form-group">
                      <label for="exampleInputpwd2">Landline Number</label>
                      <div class="input-group">
                          <input type="text" class="form-control" id="exampleInputpwd2" placeholder="Enter pwd">
                          <div class="input-group-addon"><i class="ti-lock"></i></div>
                      </div>
                  </div>
      </div>
      
      </div>
      <div class="row">
          <div class="col-sm-6">
              <div class="form-group">
                  <label for="exampleInputpwd1">Country</label>
                  <div class="input-group">
                      <div class="input-group-addon"><i class="ti-lock"></i></div>
                      <input type="text" class="form-control" id="exampleInputpwd1" placeholder="Enter email">
                  </div>
              </div>
              </div>
              <div class="col-sm-6">
                  <div class="form-group">
                      <label for="exampleInputEmail1">Contact Number</label>
                      <div class="input-group">
                          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                          <div class="input-group-addon"><i class="ti-email"></i></div>
                      </div>
                  </div>
      </div>
      
      </div>
      <div class="row">
          <div class="col-sm-6">
              <div class="form-group">
                  <label for="exampleInputpwd2">City</label>
                  <div class="input-group">
                      <div class="input-group-addon"><i class="ti-lock"></i></div>
                      <input type="text" class="form-control" id="exampleInputpwd2" placeholder="Enter email">
                  </div>
              </div>
              </div>
              <div class="col-sm-6">
                  <div class="form-group">
                      <label for="exampleInputpwd1">State</label>
                      <div class="input-group">
                          <input type="text" class="form-control" id="exampleInputpwd1" placeholder="Enter pwd">
                          <div class="input-group-addon"><i class="ti-lock"></i></div>
                      </div>
                  </div>
      </div>
      
      </div>
      <div class="text-right">
          <a type="submit" class="btn btn-success waves-effect waves-light m-r-10" (click)=formSubmit()>Submit</a>
          <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
      </div>

  </form>
</div>
</div></div>