
<div class="row">
    <div class="col-sm-12">

<div class="white-box">
  <form class="form" #f="ngForm">
      <div class="row">
          <div class="col-sm-6">
              <div class="form-group">
                  <label for="exampleInputuname">Company Name</label>
                  <div class="input-group">
                      <div class="input-group-addon"><i class="ti-user"></i></div>
                      <input type="text" 
                      class="form-control" 
                      placeholder="Enter Company Name"
                      [(ngModel)]="data.companyName" 
                      name="companyName"
                      #companyName="ngModel"
                      required >
                  </div>
              </div>
              </div>
              <div class="col-sm-6">
                  <div class="form-group">
                      <label for="exampleInputuname">Email Id</label>
                      <div class="input-group">
                          <input type="text" 
                          class="form-control" 
                          placeholder="Enter Email Id"
                          name="emailId"
                          #emailId="ngModel"
                          required
                          [(ngModel)]="data.emailId" >
                          <div class="input-group-addon"><i class="ti-user"></i></div>
                      </div>
                  </div>
      </div>
      
      </div>
      <div class="row">
          <div class="col-sm-6">
              <div class="form-group">
                  <label for="exampleInputEmail1">Address</label>
                  <div class="input-group">
                      <div class="input-group-addon"><i class="ti-email"></i></div>
                      <input type="text" 
                      class="form-control" 
                       placeholder="Enter Address"
                       [(ngModel)]="data.address"
                       name="address">
                  </div>
              </div>
              </div>
              <div class="col-sm-6">
                  <div class="form-group">
                      <label for="exampleInputpwd2">Landline Number</label>
                      <div class="input-group">
                          <input type="text" 
                          class="form-control" 
                          placeholder="Enter Landline Number"
                          [(ngModel)]="data.landlineNumber"
                          name="landlineNumber">
                          <div class="input-group-addon"><i class="ti-lock"></i></div>
                      </div>
                  </div>
      </div>
      
      </div>
      <div class="row">
          <div class="col-sm-6">
              <div class="form-group">
                  <label for="exampleInputpwd1">Country</label>
                  <div class="input-group">
                      <div class="input-group-addon"><i class="ti-lock"></i></div>
                      <input type="text" 
                      class="form-control"  
                      placeholder="Enter Country"
                      [(ngModel)]="data.country"
                      name="country">
                  </div>
              </div>
              </div>
              <div class="col-sm-6">
                  <div class="form-group">
                      <label for="exampleInputEmail1">Contact Number</label>
                      <div class="input-group">
                          <input type="text" 
                          class="form-control" 
                          placeholder="Enter Contact Number"
                          [(ngModel)]="data.contactNumber"
                          name="contactNumber">
                          <div class="input-group-addon"><i class="ti-email"></i></div>
                      </div>
                  </div>
      </div>
      
      </div>
      <div class="row">
          <div class="col-sm-6">
              <div class="form-group">
                  <label for="exampleInputpwd2">City</label>
                  <div class="input-group">
                      <div class="input-group-addon"><i class="ti-lock"></i></div>
                      <input type="text" 
                      class="form-control" 
                      placeholder="Enter email"
                      [(ngModel)]="data.email"
                      name="email"
                      >
                  </div>
              </div>
              </div>
              <div class="col-sm-6">
                  <div class="form-group">
                      <label for="exampleInputpwd1">State</label>
                      <div class="input-group">
                          <input type="text " 
                          class="form-control" 
                          placeholder="Enter State"
                          [(ngModel)]="data.state"
                          name="state">
                          <div class="input-group-addon"><i class="ti-lock"></i></div>
                      </div>
                  </div>
      </div>
      
      </div>
      <div class="text-right">
          <button type="submit" class="btn btn-success waves-effect waves-light m-r-10" [disabled]="!f.valid" (click)=formSubmit()>Submit</button>
          <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
      </div>

  </form>
</div>
</div></div>